/* .footer {
    background-color: blue;
    padding: 1rem 0;
    text-align: center;
    color: #fff;
}
.navbar {
    background-color: orange;
    width: 30%;
}

.content {
    background-color: yellow;
    width: 70%;
} */

@import "flowbite/src/themes/default";
@import "tailwindcss";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
